{% extends 'base.html.twig' %}

{% block content %} 
<a name="" id="" class="btn btn-primary" href=" {{path('ad.user.creer')}} " role="button">NOUVEAU</a>
<table class="table table-bordered">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Nom</th>
        <th scope="col">Prenom</th>
        <th scope="col">Login</th>
        <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
            <tr>
        <th scope="row">{{user.id}} </th>
        <td>{{user.nom}}</td>
        <td>{{user.prenom}}</td>
        <td>{{user.login}}</td>
        
        
        <td> 
            <a name="" id="" class="btn btn-success" href="{{path('ad.user.edit',{id:user.id})}}" role="button">Edit</a>
                <a name="" Onclick="return confirm('etes-vous vraiment sur de vouloir supprimer')" id="" class="btn btn-danger" href="{{path('ad.user.delete',{id:user.id})}}" role="button">Delete</a>
        </td>
        </tr>
    {% endfor %}
    
    
    </tbody>
</table>
{% endblock %}