{% extends 'base.html.twig' %}

{% block content %} 
<a name="" id="" class="btn btn-primary" href=" {{path('ad.session.creer')}} " role="button">NOUVEAU</a>
<table class="table table-bordered">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Nom</th>
        <th scope="col">Année</th>
        <th scope="col">Date Début</th>
        <th scope="col">Date Fin</th>
        <th scope="col">Effectif</th>
        <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for session in sessions %}
            <tr>
        <th scope="row">{{session.id}} </th>
        <td>{{session.nomsess}}</td>
        <td>{{session.annee}}</td>
        <td>{{session.datedebut | date('d-m-y')}}</td>
        <td>{{session.datefin | date('d-m-y')}}</td>
        <td>{{session.effectif}}</td>
        <td> 
            <a name="" id="" class="btn btn-success" href="{{path('ad.session.edit',{id:session.id})}}" role="button">Edit</a>
                <a name="" Onclick="return confirm('etes-vous vraiment sur de vouloir supprimer')" id="" class="btn btn-danger" href="{{path('ad.session.delete',{id:session.id})}}" role="button">Delete</a>
        </td>
        </tr>
    {% endfor %}
    
    
    </tbody>
</table>
{% endblock %}